@section styles {
    @Styles.Render("~/Content/css/gijgo.min.css")
}

<h2>Equipamento Fixo - Programação (Programar)</h2>
<form>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputAno">Ano</label>
                <input id="inputAno" type="number" value="1900" min="1900" max="3000" step="1" data-decimals="0" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputSemana">Semana</label>
                <input id="inputSemana" type="number" value="1" min="1" max="5" step="1" data-decimals="0" />
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="selectEquipe">Equipe</label>
                <select class="form-control" id="selectEquipe">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="text-right">
                <button type="button" class="btn btn-primary" disabled>Visualizar Semana</button>
                <button type="button" class="btn btn-primary" disabled>Visualizar Programável</button>
                <button type="button" class="btn btn-primary" disabled>Salvar</button>
                <button type="button" class="btn btn-primary" disabled>Sair</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Segunda-feira</th>
                            <th>Terça-feira</th>
                            <th>Quarta-feira</th>
                            <th>Quinta-feira</th>
                            <th>Sexta-feira</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                            <th>OD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15/10/2018</td>
                            <td>16/10/2018</td>
                            <td>17/10/2018</td>
                            <td>18/10/2018</td>
                            <td>19/10/2018</td>
                            <td>20/10/2018</td>
                            <td>21/10/2018</td>
                            <td>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input id="inputOD" width="150" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="text-right">
                <button type="button" class="btn btn-primary" disabled>Cancelar</button>
                <button type="button" class="btn btn-primary" disabled>Reprogramar</button>
                <button type="button" class="btn btn-primary" disabled>Limpar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Selecionadas: 13 Ordens</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Selecionadas: 13 Operações Programadas</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <caption>Lista de Ordens e Operações</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ordem/Operação</th>
                            <th>Dias venc.</th>
                            <th>Semana</th>
                            <th>Ano</th>
                            <th>Tipo Manutenção</th>
                            <th>Limite Seg/Desratização</th>
                            <th>Acesso</th>
                            <th>Finalidade/Data Programada</th>
                            <th>Status</th>
                            <th>Atividade de Manutenção</th>
                            <th>Número da Nota</th>
                            <th>Limite Inferior</th>
                            <th>Limite Dias</th>
                            <th>Limite Superior</th>
                            <th>Limite Dias</th>
                            <th>Local de Instalação</th>
                            <th>Data E-mail</th>
                            <th>Microprogramação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row01" class="row-clickable row-parent">
                            <td class="row-clickable-button align-middle"><i class="material-icons">add</i></td>
                            <td>3012</td>
                            <td>1</td>
                            <td>42</td>
                            <td>2018</td>
                            <td>l1-</td>
                            <td></td>
                            <td></td>
                            <td>3VA</td>
                            <td></td>
                            <td>INSP. GERAL VIA - TRI A X65...</td>
                            <td>GS7873</td>
                            <td>14/10/2018</td>
                            <td>3</td>
                            <td>21/10/2018</td>
                            <td>4</td>
                            <td>M-L02-SCZ-SER-04</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row-child row01-child">
                            <td></td>
                            <td>10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="acesso-semana align-middle"></span><span class="align-middle">1 / 2</span></td>
                            <td>15/10/2018</td>
                            <td>PRG</td>
                            <td>[Executado em 16/10/2018]</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>25397</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row-child row01-child">
                            <td></td>
                            <td>10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="acesso-semana align-middle"></span><span class="align-middle">1 / 2</span></td>
                            <td>15/10/2018</td>
                            <td>PRG</td>
                            <td>[Executado em 16/10/2018]</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>25397</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="row02" class="row-clickable row-parent">
                            <td class="row-clickable-button align-middle"><i class="material-icons">add</i></td>
                            <td>3012</td>
                            <td>1</td>
                            <td>42</td>
                            <td>2018</td>
                            <td>l1-</td>
                            <td></td>
                            <td></td>
                            <td>3VA</td>
                            <td></td>
                            <td>INSP. GERAL VIA - TRI A X65...</td>
                            <td>GS7873</td>
                            <td>14/10/2018</td>
                            <td>3</td>
                            <td>21/10/2018</td>
                            <td>4</td>
                            <td>M-L02-SCZ-SER-04</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="row-child row02-child">
                            <td></td>
                            <td>10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="acesso-semana align-middle"></span><span class="align-middle">1 / 2</span></td>
                            <td>15/10/2018</td>
                            <td>PRG</td>
                            <td>[Executado em 16/10/2018]</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>25397</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="text-right">
                <button type="button" class="btn btn-primary" id="btn_microprogramacao">Microprogramação</button>
                <button type="button" class="btn btn-primary" disabled>Liberar atividades</button>
                <button type="button" class="btn btn-primary" disabled>Histórico</button>
                <button type="button" class="btn btn-primary" id="btn_email">E-Mail</button>
                <button type="button" class="btn btn-primary" disabled>Comentário</button>
                <button type="button" class="btn btn-primary" id="btn_planejamento">Planjeamento</button>
                <button type="button" class="btn btn-primary" disabled>Documentos de manutenção</button>
                <button type="button" class="btn btn-primary" disabled>Mão de obra</button>
                <button type="button" class="btn btn-primary" disabled>Reprogramar</button>
            </div>
        </div>
    </div>
    <div class="row single-line floating-row">
        <div class="col-sm-8 bottom-column">
            <div class="form-group">
                <label for="inputObservacao">Observação</label>
                <input type="text" class="form-control" id="inputObservacao">
            </div>
        </div>
        <div class="col-sm-1 bottom-column">
            <button type="button" class="btn btn-primary" disabled>Registrar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 bottom-column">
            <label>Legenda</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 bottom-column">
            <ul class="list-inline">
                <li><span class="acesso-semana align-middle"></span><span class="align-middle">OS programada na semana</span></li>
                <li><span class="acesso-fora align-middle"></span><span class="align-middle">Programação fora da tolerância</span></li>
                <li><span class="acesso-falta align-middle"></span><span class="align-middle">Falta de apontamento (5 dias)</span></li>
                <li><span class="acesso-programar align-middle"></span><span class="align-middle">Ordem de serviço a programar</span></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <caption>Mão de Obra / MO Programada</caption>
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Homem</th>
                            <th>Horas</th>
                            <th>Total Disp.</th>
                            <th>Total Prog.</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Seg.</td>
                            <td>2</td>
                            <td>3.5</td>
                            <td>7</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Seg.</td>
                            <td>2</td>
                            <td>3.5</td>
                            <td>7</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Seg.</td>
                            <td>2</td>
                            <td>3.5</td>
                            <td>7</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Ter.</td>
                            <td>2</td>
                            <td>3.5</td>
                            <td>7</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Ter.</td>
                            <td>2</td>
                            <td>3.5</td>
                            <td>7</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Ter.</td>
                            <td>2</td>
                            <td>3.5</td>
                            <td>7</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

@section scripts {
    @Scripts.Render("~/Scripts/bootstrap-input-spinner.js")
    @Scripts.Render("~/Scripts/gijgo.min.js")
    @Scripts.Render("~/Scripts/messages/messages.pt-br.min.js")
    @Scripts.Render("~/Scripts/EquipamentoFixo/programacao.js")
}