@model PM.Web.ViewModel.MaterialRodante.NotaInspecaoViewModel

<!-- Modais -->
<div id="modalNotificadores_container"></div>
<div id="modalCancelarNota_container" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelamento da Nota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Informe o motivo do cancelamento</p>
                <textarea id="motivoCancelamento" class="form-control"></textarea>
                <input id="idCancelamento" type="hidden" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmarCancelamento">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Cadastro", "MR/NotaInspecao", FormMethod.Post, new { @class = "form-horizontal", id = "formMi" }))
{
    <br />
    <ul class="nav">
        <li class="nav-link active" id="TituloJumbo">
            <a data-toggle="tab">
                @if (ViewBag.Action == "Criar")
                {
                    <h5>Material Rodante - Criar Nota de Inspeção (MI)</h5>
                }
                else if (ViewBag.Action == "Editar")
                {
                    <h5>Material Rodante - Editar Nota de Inspeção (MI)</h5>
                }
                else if (ViewBag.Action == "Consultar")
                {
                    <h5>Material Rodante - Consultar Detalhes da Nota de Inspeção (MI)</h5>
                }
                else
                {
                    <h5>Material Rodante - Criar Nota de Inspeção (MI)</h5>
                }
            </a>
        </li>
    </ul>
    <div class="tab-content jumbotron">
        <div class="tab-pane active in" id="first-tab">
            @Html.ValidationSummary(false)
            @Html.HiddenFor(model => model.id_nota)
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.id_frota_fk)
                            @Html.DropDownListFor(model => model.id_frota_fk, new SelectList(new string[] { }), new { @class = "form-control" })
                            <input type="hidden" value="@Model.id_frota_fk" id="hidden_id_frota_fk" />
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.id_trem_fk)
                            @Html.DropDownListFor(model => model.id_trem_fk, new SelectList(new string[] { }), new { @class = "form-control" })
                            <input type="hidden" value="@Model.id_trem_fk" id="hidden_id_trem_fk" />
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.id_carro_fk)
                            @Html.DropDownListFor(model => model.id_carro_fk, new SelectList(new string[] { }), new { @class = "form-control" })
                            <input type="hidden" value="@Model.id_carro_fk" id="hidden_id_carro_fk" />
                        </div>
                        <div class="form-group col-md">
                            @Html.LabelFor(model => model.ds_sistema)
                            @Html.TextBoxFor(model => model.ds_sistema, String.Empty, new { @class = "form-control disabled", @readonly = "readonly" })
                            <input type="hidden" value="@Model.id_sistema_fk" id="hidden_id_sistema_fk" />
                        </div>
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(model => model.ds_local_instalacao)
                        @Html.EditorFor(model => model.ds_local_instalacao, new { htmlAttributes = new { @class = "form-control disabled", @readonly = "readonly" } })
                        @Html.HiddenFor(model => model.id_local_instalacao_fk)
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(model => model.ds_sintoma)
                        @Html.EditorFor(model => model.ds_sintoma, new { htmlAttributes = new { @class = "form-control disabled", @readonly = "readonly" } })
                        @Html.HiddenFor(model => model.id_sintoma_fk)
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(model => model.ds_descricao)
                        @Html.EditorFor(model => model.ds_descricao, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.ds_prioridade)
                            @Html.EditorFor(model => model.ds_prioridade, new { htmlAttributes = new { @class = "form-control disabled", @readonly = "readonly" } })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.nm_notificador)
                            <div class="input-group mb">
                                @Html.EditorFor(model => model.nm_notificador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.HiddenFor(model => model.id_notificador_fk)
                                <div class="input-group-append">
                                    <button id="btnNotificador" class="btn btn-outline-secondary" type="button"><i class="material-icons">search</i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.sg_local)
                            @Html.DropDownListFor(model => model.sg_local, Model.LocalList, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.id_linha_fk)
                            @Html.DropDownListFor(model => model.id_linha_fk, new SelectList(new string[] { }), new { @class = "form-control" })
                            <input type="hidden" value="@Model.id_linha_fk" id="hidden_id_linha_fk" />
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.ds_centro_trabalho_fk)
                            @Html.TextBoxFor(model => model.ds_centro_trabalho_fk, String.Empty, new { @class = "form-control disabled", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.id_centro_trabalho_fk)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ds_observacao)
                        @Html.TextAreaFor(model => model.ds_observacao, new { @class = "form-control", rows = "15" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class='form-group col-md-3 col-lg-2 col-xl-2 custom-control custom-checkbox' id="fg_IncidenteNotavel">
                    @Html.CheckBoxFor(model => model.st_in_notavel, new { @class = "custom-control-input" })
                    @Html.LabelFor(model => model.st_in_notavel, new { @class = "custom-control-label" })
                </div>
                <div class='form-group col-md-3 col-lg-2 col-xl-2 custom-control custom-checkbox' id="fg_Fumaca">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.st_fumaca, new { @class = "custom-control-input" })
                        @Html.LabelFor(model => model.st_fumaca, new { @class = "custom-control-label" })
                    </div>
                </div>
                <div class="form-group col-md-3 col-lg-2 col-xl-1 custom-control custom-checkbox" id="fg_Reboque">
                    @Html.CheckBoxFor(model => model.st_reboque, new { @class = "custom-control-input" })
                    @Html.LabelFor(model => model.st_reboque, new { @class = "custom-control-label" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md text-right">
            @if (ViewBag.Action == "Criar" || ViewBag.Action == "Editar")
            {
                <button id="btnCancelar" type="button" class="btn btn-primary">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button id="btnCarregarUltima" type="button" class="btn btn-primary">Carregar última</button>
            }
            else if (ViewBag.Action == "Consultar")
            {
                <button type="button" class="btn btn-primary">Voltar</button>
            }
            else
            {

            }
        </div>
    </div>
}

@if (ViewBag.Action != "Consultar")
{
    <div>
        <h5 class="TituloGrid">Abertas/Pendentes:</h5>
        <table id="tblNotasAbertasPendentes" class="table dataTable">
            <caption>Abertas/Pendentes</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Tp</th>
                    <th scope="col">Local Instalação</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Sintoma</th>
                    <th scope="col">Prior</th>
                    <th scope="col">Data</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Notificador</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
        </table>
    </div>
    <br />
}

@section scripts {
    <script type="text/javascript">
    var vwAction = "@Html.Raw(@ViewBag.Action)";
    </script>

    @Scripts.Render("~/Scripts/MaterialRodante/notaMi.js")
    @Scripts.Render("~/Scripts/selecionarEmpregado.js")

    @if (!String.IsNullOrEmpty(ViewBag.Mensagem))
    {
        <script type="text/javascript">alert('@Html.Raw(ViewBag.Mensagem)');</script>
    }
}
